<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093038960119-h7h1mph5n76gos3a934rphl1sdqgg2t0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093038960119-h7h1mph5n76gos3a934rphl1sdqgg2t0</string>
	<key>API_KEY</key>
	<string>AIzaSyBReM-s7zVhBBuSBk-2Cl6mKIty_ONovcg</string>
	<key>GCM_SENDER_ID</key>
	<string>1093038960119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cs210parea</string>
	<key>PROJECT_ID</key>
	<string>cs210-parea</string>
	<key>STORAGE_BUCKET</key>
	<string>cs210-parea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093038960119:ios:f5df5c908428a2750292f2</string>
</dict>
</plist>